h1 {
    color: darkred;
    font-family: Arial;
    font-size: 36px;
    text-align: center;
}

h2 {
    color: darkblue;
    font-family: Verdana;
    font-size: 28px;
    text-align: left;
}

p {
    color: palevioletred;
    font-family: 'Times New Roman';
    font-size: 18px;
    text-align: justify;
}