body {
    margin: 0;
    font-family: Arial, sans-serif;
}

nav {
    background-color: #faa7f9;
}

.menu {
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: center;
}

.menu li {
    display: inline-block;
}

.menu li a {
    display: block;
    padding: 15px 20px;
    color: white;
    text-decoration: none;
}

.menu li a:hover {
    background-color: #fc87d9;
}